
/*The body format.*/
body {background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;}
    
    
    /*The entire top section.*/
    header {
        background-color: white;
        width: 100%;
        height: 70px;}
    
    #your_name {
     font-size: 200%;
        background-color: skyblue;
        color: white;
        float: left;
    width: auto;
    height: 100%;
    margin-left: 10%;
padding-top: 0.5%}
    
    .nav {
    float: right;
    margin: 1%;
    margin-right: 10%;}
    
    .nav-link {
        color: lightgray;}

        /*The entire middle section.*/
        .jumbotron {
            background-color: white;
            margin-top: 10px;
margin-left: 300px;
margin-right: 300px;
margin-bottom: 50px;}
            
            .display-4 {
                color: skyblue;}
           

                    
            /*The entire bottom section.*/
            .card{
                background-color: gray;
                padding-bottom: 50px;}
                
             